/*Tipos de letras*/


body{
	font-family: 'Allerta', sans-serif;
	margin: 0;
}


table {
	width: 100%;
}

th{
	color: white;
	background: #273b47
}

th{
	padding: 10px 20px;
	text-align: left;

}
td {
	padding: 20px;
}

table, th, td {
	border: 1px solid #273b47 ;
	border-collapse: collapse;/*Borde sencillo de liena*/
}

input, textarea{
	outline: 0;
}

input:focus, textarea:focus{
	background: lightgray;
}

/*contenedor se usa como clase en otras etiquetas reduciendo cod*/
.contenedor{
	width: 800px;
	margin: auto;
	position: relative;
	/*border: 1px solid red;*/

}

.background{
	background-image:url("../images/background.png"); /*en carpeta anterior*/
	background-size: cover;
}


.button{
	border-radius: 8px;
	border: none;
	color: white;
	padding: 7px 12px;
	cursor: pointer;
	font-size: 18px;
	text-decoration: none;
	background: #fd324e;
	background: linear-gradient(to left, #fe344e, #ff7250);

	/*forma de iontegar colo a un boton com colorzilla 
	Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f3c5bd+0,ea2803+15,ff6600+47,ff6600+47,ff6600+77,ff6600+77 */
	/*background: #f3c5bd; /* Old browsers */
	/*background: -moz-linear-gradient(top,  #f3c5bd 0%, #ea2803 15%, #ff6600 47%, #ff6600 47%, #ff6600 77%, #ff6600 77%); /* FF3.6-15 */
	/*background: -webkit-linear-gradient(top,  #f3c5bd 0%,#ea2803 15%,#ff6600 47%,#ff6600 47%,#ff6600 77%,#ff6600 77%); /* Chrome10-25,Safari5.1-6 */
	/*background: linear-gradient(to bottom,  #f3c5bd 0%,#ea2803 15%,#ff6600 47%,#ff6600 47%,#ff6600 77%,#ff6600 77%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3c5bd', endColorstr='#ff6600',GradientType=0 ); /* IE6-9 */

	/*
	*/
	/*Boton color degradado*/

}

.titulo {
	font-size: 70px;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 0px;
	margin-top: 70px;
}

.titulo span{
	text-decoration: underline;
}

.title-a{
	font-size: 24px;
	margin-top: 0;

}
.title-b{
	font-size: 50px;
	margin-left: 10px;
}



.guitarras{
	color: #1F313C;
	margin-bottom: 60px;
}

.guitarras h2{
	font-size: 35px;
	font-family: 'Montserrat', sans-serif;
	margin-left: 20px;
}

.portada {
	color: white;
	padding: 20px;
	height: 500px;
}

.portada button{
	margin-bottom: 70px;
}

.menu{
	font-size: 24px;
	display: inline-block;
	position: absolute;
	right: 0;
}

.menu li{
	display: inline-block;
	margin-left: 30px;
	margin-top: 20px;
}

.menu li:before{
	content: '°'; /*https://dev.w3.org/html5/html-author/charref*/
	font-size: 30px;
	line-height: 20px;
	color: white;
}

.menu a{
	color: white;
	text-decoration: none;
}

.logotipo{
	display: inline-block;
	margin-left: 0;
}



.guitarra{
	margin: 10px 10px 40px 10px;
	padding: 10px;
	/*overflow: hidden;/*no se desborde de la caja*/
	border: 1px solid #1F313C;
	border-radius: 8px;
}

.guitarra ol{
	padding: 0;
}

.guitarra.b{
	height: 190px;
}
.derecha{
	float: right;/*hace flotar la iamgen a un lugar pero se descuadra*/
	position: relative;/*relative conserve posicion en la caja fixed el elem,ento nos sigue*/
	top: -110px;
}

.izquierda{
	float: left;
	position: relative;/*relative conserve posicion en la caja fixed el elem,ento nos sigue*/
	/*top: 80px;*/
}

.contenedor-guitarra-a{
	padding-left: 20px;
}

.contenedor-guitarra-b{
	margin-left: 370px;
	position: relative;
	bottom: 50px;
}

.header{
	position: relative;
}

.footer{
	background: #273b47;
	padding: 50px 10px;
}

.contacto{
	display: flex;
	width: 300px;
	flex-wrap: wrap;
	align-items: center;
	height: 200px;
}

.contacto img{
	display: block;
}

.contacto strong{
	display: block;
}

.contacto a{
	color: white;
	text-decoration: none;
	margin: 10px 10px 10px 0;
}

/*heredar*/
.footer .contenedor{
	display: flex;
	justify-content: space-between;
}

.formulario{
	display: flex;
	width: 400px;
	color: white;
	/*padding: 50px, 10px;*/
}

.col1, .col2{
	display: flex;
	flex-direction: column;
}

.col1{
	margin-right: 15px
}

.col2{
	align-items: flex-start;
}

.col2 .button{
	margin-top: 15px;
}

.intereses label{
	font-size: 12px;
}

.formulario label, .sexo, .intereses {
	margin-bottom: 10px;
}



.sexo{
	margin-top: 10px;
}

.tabla{
	margin: 50px 0;
}

